.site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}
.site-header .container {
    margin: 0 auto;
}
.site-header a {
    color: #999;
    fill: #999;
    transition: ease-in-out color .15s,
                ease-in-out fill .15s;
}
.site-header a:hover {
    color: $primaryCOlor;
    fill: $primaryCOlor;
    text-decoration: none;
}